body {
    font-family: "Oxygen", sans-serif;
    margin: 0;
}

/* header stuff here */
header {
    background-color: #4f4647;
    padding: 1rem 10px;
}
header span {
    color: #f3f0f9;
    font-size: 1.6rem;
    font-weight: 700;
}
header p {
    color: #f3f0f9;
    font-size: .9rem;
    font-weight: 300;
}

/*navigation stuff here*/
nav {
    background-color: #618c03;
}
nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #f3f0f9;
    font-weight: 700;
}

nav li.current a {
    background-color: #f3f0f9;
    color: #618c03;
}

nav li a:hover {
    color: #4f4647;
}

/* main stuff here */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #4f4647;
}
main h2 {
    color: #fcd259;
    margin-bottom: .2rem;
}
main p {
    margin: 0;
    color: #333;
}
main ol {
    padding: .5rem 30px;
    background-color: #618c03;
}
main dl dt {
    color: #4f4647 ;
    font-weight:700;
    margin-top: 1rem;

}
main dl dd {
    color: #4f4647;
    font-size: .9rem;
    margin-left: 25px;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 100%;
    margin-bottom: .5rem;
    font-size: .93rem;
}
main strong {
    font-weight: 700;
    color: #4f4647 ;
}
main em {
    font-weight: 300;
}
main address {
    font-style: normal;
    background-color:#618c03 ;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid black;
    width: 400px;
}
main a {
    color: #4f4647;
}
main a:hover {
    color: #993bd9;
}


/* footer stuff here */
footer {
    background-color: #4f4647;
    text-align: center;
    padding: .85rem 0;
    font-size: .8rem;
}
footer p {
    margin: 0;
    color: #f3f0f9;
    letter-spacing: 2px;
}